*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

h1{ font-size: 3.5em;}
h2{ font-size: 2.7em;}
h3{ font-size: 2em;}
p{ font-size: 1.25em;}
ul{ list-style: none;}
li{ font-size: 1.25em;}

button{
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 10px;
    border: 1px solid rgba(0,0,0,0.5);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    color: white;
    background-color: orangered;
}

button:hover{
    background-color: rgba(255, 72, 0, 0.5);
}

.container{
    max-width: 1400px;
    margin: auto;
}

.color-acento{ color:orangered; }

header{
    background-color: rgb(245,245,245);
}

header .logo{
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    color: orangered;
    font-size: 1.6em;
}

header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}

header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

header a:hover{
    color: orangered;
}

#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ),
    url(media/room-with-lot-games-video-game-wall_875765-5370.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#hero h1{
    color: white;
}

#hero button{
    font-size: 1.75em;
}

#tienda .container{
    text-align: center;
    padding: 200px 12px;
}

#VideojuegosMas{
    background-color: rgb(30,30,30);
    color: white;
    text-align: center;
}

#VideojuegosMas .container{
    padding: 150px 12px;
}

#VideojuegosMas h2{
    margin-top: 0;
    font-size: 3.2em;
}

#VideojuegosMas p{
    display: none;
}

#VideojuegosMas .programas{
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

#VideojuegosMas .carta{
    width: 300px;
    height: 450px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 30px;
    margin: 20px;
    border-radius: 15px;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
}

#VideojuegosMas .carta button{
    margin-top: 15px;
}

.carta:first-child{
    background-image:
        linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
        url(media/imagen_2025-12-03_140026275.jpg);
}

.carta:nth-child(2){
    background-image:
        linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
        url(media/under.jpg);
}

.carta:nth-child(3){
    background-image:
        linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
        url(media/battle.jpg);
}

.carta:nth-child(4){
    background-image:
        linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
        url(media/zelda.jpg);
}

.carta:nth-child(5){
    background-image:
        linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
        url(media/silk.jpg);
}

.carta:nth-child(6){
    background-image:
        linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
        url(media/hytale.jpeg);
}

#caracteristicas .container{
    text-align: center;
    padding: 200px 12px;
}

#caracteristicas li{
    margin: 16px 0px;
    font-weight: bold;
}

#Ayuda{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(30,30,30);
    color: white;
    height: 80vh;
}

#Ayuda h2{
    font-size: 9vw;
}

#Ayuda button{
    font-size: 5vw;
}

footer{
    background-color: rgb(230,230,230);
}

footer p{
    margin: 0;
    padding: 12px;
    color: rgb(100,100,100);
}

footer .container{
    height: 150px;
    justify-content: center;
    display: flex;
    align-items: flex-end;
}

/* ===== RESPONSIVE ===== */

@media (min-width: 720px){
    header{
        position: fixed;
        width: 100%;
    }

    header .container{
        flex-direction: row;
        justify-content: space-between;
    }

    header nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
    }

    #hero h1{
        font-size: 5em;
    }

    #VideojuegosMas p{
        display: block;
        margin-bottom: 30px;
    }

    #VideojuegosMas h2{
        font-size: 4em;
    }

    #VideojuegosMas h3{
        margin-top: 0;
    }

    #VideojuegosMas .carta{
        box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    }

    footer .container{
        justify-content: flex-end;
    }
}

@media (min-width: 1000px){
    #caracteristicas{
        background-position-x: calc(100vw - 800px);
    }
}
